* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 1em;
}

body {
  color: #333;
  background-color: #fff;
  -webkit-transition: background-color 0.3s ease, font-size 0.3s ease;
  transition: background-color 0.3s ease, font-size 0.3s ease;
}
body .container {
  background-color: rgba(0, 0, 0, 0.05);
}

body.dark-mode {
  background-color: #222;
  color: #fff;
}
body.dark-mode .container {
  background-color: rgba(255, 255, 255, 0.1);
}

#theme-switcher {
  margin-top: 20px;
  padding: 10px;
  border: none;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}
#theme-switcher.dark-mode {
  background-color: #333;
  color: #fff;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

input[type=range] {
  width: 100%;
}

.button {
  font-size: 16px;
  background-color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.button.active {
  background-color: red;
}